{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <title>Ready Player One</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'partials/_sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


        <div id="app" >
          <v-app>
            <v-main>
              <v-container fluid>

                <v-card flat>
                  <v-tabs
                    background-color="white"
                    color="deep-purple accent-4"
                    right
                  >
                    <v-tab>Calculator</v-tab>
                    <v-tab @click="resetQS">Quick Start</v-tab>
                    <v-tab>My Portfolio</v-tab>
              
                    <v-tab-item>
                      <v-card flat>
                        <v-card-text>hi ben</v-card-text>
                      </v-card>
                    </v-tab-item>
                    <v-tab-item>
                      <v-card flat>
                        <v-card-text v-if="!quickRes" class="text-center">
                          <span class="text-blue"><h1><b>Investment Quick Start</b></h1></span>
                          <p>Want to invest but don’t know what or how?<br>Fill up your profile and we will recommend you something that is just right for you!</p>
                          <v-form v-model="valid">
                            <div class="profile">
                              <v-col sm="4" md="3">
                                My name is
                              </v-col>
                              <v-col sm="4" md="3">
                                  <v-text-field
                                    class="input-field"
                                    v-model="name"
                                    color="rgb(172, 193, 252)"
                                    label="Input your name"
                                    required
                                    regular
                                  ></v-text-field>
                                </v-col>
                                <v-col sm="4" md="3">
                                  and I am
                                </v-col>
                                <v-col sm="4" md="3">
                                  <v-text-field
                                    class="input-field"
                                    v-model="age"
                                    color="rgb(172, 193, 252)"
                                    label="Input your age"
                                    required
                                    regular
                                  ></v-text-field>
                                </v-col>
                                <v-col sm="4" md="3">
                                  years old
                                </v-col>
                              </div>
                            
                          <v-card-title><span class="text-blue">Risk Appetite</span></v-card-title>
                          <v-select class="input-field" v-model="risk">
                            <option v-for="option in riskLevels" :value="option"></option>
                          </v-select>
                          <v-card 
                            color="transparent"
                            elevation=0
                            max-width=800> 
                            <v-card-title><span class="text-blue">Time Horizon (Years)</span></v-card-title>
                            <v-slider
                              v-model="slider"
                              color="rgb(172, 193, 252)"
                              thumb-label="always"
                              step="10"
                            ></v-slider>
                          </v-card>
                          <v-card-title><span class="text-blue">How much are you ready to invest?</span></v-card-title>
                          <v-text-field
                            class="input-field"
                            v-model="amount"
                            label="Enter an amount"
                            required
                            regular
                          ></v-text-field>
                          <v-btn
                            class="white--text"
                            color="rgb(0, 0, 255)"
                            min-width=300
                            min-height=50
                            class="mr-4"
                            x-large
                            @click="handleSubmit"
                          >
                          SHOW MY RESULTS
                          </v-btn>
                          </v-form>
                        </v-card-text>
                        
                        <v-card-text v-else>
                          <h2>Based on your profile, we recommend the following investments classes.</h2>
  

                          <v-tabs
                          background-color="white"
                          color="deep-purple accent-4"
                          centered
                        >
                          <v-tab>Real Estate</v-tab>
                          <v-tab>Bonds</v-tab>
                          <v-tab>ETFs</v-tab>
                    
                          <v-tab-item>
                            <v-card flat>
                              <v-card-text>
                                <h5>REIT</h5>
                                <p>A REIT is a corporation, trust, or association that invests directly in income-producing real estate and is traded like a stock.
                                </p>
                                <h2>Top Performing</h2>
                                <p>Top gainers often continue to soar and reach new highs when their fundamentals are strong. The page lets you see top gaining stocks at a quick glance.                                </p>
                              </v-card-text>
                            </v-card>
                          </v-tab-item> 

                
                        </v-card-text>

                      </v-card>
                    </v-tab-item>  
                    <v-tab-item>
                      <v-card flat>
                        <v-card-text>3</v-card-text>
                      </v-card>
                    </v-tab-item>  
                  </v-tabs>
                </v-card>
               
              </v-container>
            </v-main>
          </v-app>
        </div>

      
        <!-- Topbar -->
        {% comment %}
        {% include 'partials/_topbar.html' %}
        {% endcomment %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div> -->
          <div class="row">
            {% block content %}
            {% endblock %}
          </div>
        </div>

        

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'partials/_footer.html' %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  
  

  <!----------------- VUE APP --------------------->
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        quickRes: false,
        riskLevels: ["Low", "Medium", "High"],
      },
      methods: {
        handleSubmit() {
          this.quickRes = true
          console.log(this.name)
        },
        resetQS() {
          this.quickRes = false
        }
      },
      
    })
  </script>

</body>

</html>


<style scoped lang="scss">
.text-blue {
  color:rgb(0, 102, 255);
  font-size: 300;
}

.input-field {
  width: 200px;
  color: rgb(172, 193, 252);
}

.profile {
    display: flex;
    justify-content: space-between;
}

.mr-4 {
    display: flex;
    justify-content: space-between;
}

.transparent {
   background-color: transparent!important;
   border-color: transparent!important;
 }
</style>