{% extends 'base.html' %}
{% load static %}
{% block content %}

<v-card flat>
  <v-card-text v-if="!quickRes" class="text-center">
    <span class="text-blue"><h1><b>Investment Quick Start</b></h1></span>
    <p>Want to invest but don’t know what or how?<br>Fill up your profile and we will recommend you something that is just right for you!</p>
    <v-form v-model="valid">
      <div class="profile">
        <v-card
          color="transparent"
          elevation=0
        >
          <v-row>
            <div class="profile-text">My name is</div>
            <v-text-field
              class="input-field"
              v-model="name"
              color="rgb(172, 193, 252)"
              label="Input your name"
              required
              regular
            ></v-text-field>
            <div class="profile-text">and I am</div>
            <v-text-field
              class="input-field"
              v-model="age"
              color="rgb(172, 193, 252)"
              label="Input your age"
              required
              regular
            ></v-text-field>
            <div class="profile-text">years old.</div>
          </v-row>
        </v-card>
      </div>

<!---Investing Preferences-->

  <v-row class="justify-center">
    <v-card-title class="justify-center"><span class="text-blue">Risk Appetite</span></v-card-title>
  </v-row>
  <v-row>
    <v-select class="input-field justify-center" :items="riskLevels" v-model="risk"></v-select>
    <v-card 
      color="transparent"
      elevation=0
      max-width=800> 
  </v-row>

    <v-card-title class="justify-center"><span class="text-blue">Time Horizon (Years)</span></v-card-title>
    <v-slider
        v-model="time"
        color="rgb(0, 102, 255)"
        thumb-label="always"
        max="10"
        min="1"
    ></v-slider>
    </v-card >

    <v-card-title class="justify-center"><span class="text-blue">How much are you ready to invest?</span></v-card-title>
    <v-text-field
      v-model="amount"
      label="Enter an amount"
      required
      regular
    ></v-text-field>
    
    <div class="justify-center">
    <v-btn
      class="justify-center white--text"
      color="rgb(0, 0, 255)"
      min-width=300
      min-height=50
      x-large
      @click="handleSubmit"
    >
    SHOW MY RESULTS
    </v-btn>
    </div>
    </v-form>
  </v-card-text>
</v-card>

  <v-card-text v-else>
    <h1><b>Based on your profile, we recommend the following investments classes.</b></h1>

    <v-card>
      <v-tabs background-color="white"
      color="deep-purple accent-4" grow v-model="active_tab">
        <v-tab v-for="tab of tabs" :key="tab.id">
          {{tab}}
        </v-tab>
      </v-tabs>
    
    </v-card>

  </v-card-text>

</v-card>

<style scoped lang="scss">
  .center-element >>> input {
    text-align:center;
    justify-content: center;
  }

  .text-blue {
    color:rgb(0, 102, 255);
    font-size: 300;
    justify-content: center;
  }
  
  .input-field {
    width: 200px;
    color: rgb(172, 193, 252);
  }

  .profile-text {
    padding:10px;
    margin-top:10px;
  }
  
  
  .transparent {
     background-color: transparent!important;
     border-color: transparent!important;
   }
  </style>

{% endblock content %}


