{% extends 'base.html' %}
{% block content %}
<div class="row" style="background-color: #f6f6f6;">
    <h3 class="banner">Budget Calculator</h3>
</div>

<div class="row" style="background-color: #f1f1f1;">
    <table>
    <form method='post'>{% csrf_token %}
        <tr style="width:100%">
        <td>
            <h2>Your total monthly income: </h2>
            (This includes your salary and other sources of income.)
        </td>
        <td style="text-align: left;">
            <input type="number" name="income" id="income" value="{{income}}">
        </td>
        </tr>
        <tr>
        <td>
            <h2>Your total monthly expenses:</h2> 
            (This includes your total fixed expenses and total variable expenses.)
        </td>
        <td>
            <input type="number" name="expense" id="expense" value="{{expense}}">
        </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Calculate">
            </td>
        </tr>
        </form>
        <tr style="width:100%">
            <td>
                <h2 >Your monthly net cash flow:</h2>
            </td>
            <td>
                <input type="number" value="{{cashflow}}" disabled>
            </td>
        </tr>
    </table>
</div>

<style>
input{
    width: 155px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 15px;
    border: 1px solid #ccc;
    float: left;
    border-radius: 5px;
    color: #003870;
    font-weight: 500;
    font-size: 16px;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h2, h3{
    font-size: 1.5em;
    line-height: 36px;
    color: #003870;
    font-weight: 700;
    position: relative;
    font-family: Montserrat,sans-serif;
}

h3{
    font-size: 3.0em;
}

table{
    width:100%;
}

tr td{
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

.banner{
    text-align: center;
    width: 100%;
    max-width: 685px;
    margin: 0 auto;
    padding: 50px 10px 65px;
}
</style>
{% endblock content %}