{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>

<div class="tile">
    <a href="{% url 'budgetcalculator' %}">
        <div class="head">
            <h3>Budget Calculator</h3>
        </div>
        <figure class="icon-holder">
            <img src="{% static 'img/budget_icon.png' %}">
        </figure>
        <div class="description">
            <p>Let our budget calculator help you keep track of your money.</p>
        </div>
    </a>
</div>

<div class="tile">
        <a href="{% url 'networthcalculator' %}">
            <div class="head">
                <h3>Net Worth Calculator</h3>
            </div>
            <figure class="icon-holder">
                    <img src="{% static 'img/networth_icon.svg' %}">
            </figure>
            <div class="description">
                <p>Use this calculator to take stock of your current financial situation.</p>
            </div>
        </a>
    </div>

<style>

.tile{
    width:100%;
    max-width: 345px;
    float: left;
    background: #f1f1f1;
    margin: 24px 17.5px;
}

.tile a {
    width: 100%;
    display: block;
    padding: 30px;
    min-height: 390px;
}

.head {
    height:80px;
    font-size: 1.5em;
    line-height: 36px;
    color: #003870;
    font-weight: 700;
    position: relative;
    margin: 0 0 15px;
    font-family: Montserrat,sans-serif;
}
.head h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.description p {
    font-size: 1em;
    line-height: 24px;
    color: #4d4d4d;
    margin: 0 0 40px;
}

.tile a:hover {
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    -webkit-transition: .6s linear;
    transition: .6s linear;
}

.head, .icon-holder {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;   
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

.icon-holder {
    height: 160px;
}

.icon-holder img {
    width: 100%;
    max-width: 100px;
}

</style>

{% endblock content %}